TerminalRobo/Service References/ServiceRefTCP/WebservicesClientes_ExportacaoCheio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://wsclientes.tcp.com.br" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:core="http://wsclientes.tcp.com.br" targetNamespace="http://wsclientes.tcp.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>ExportacaoCheio</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified">
      <xs:import schemaLocation="WebservicesClientes_ExportacaoCheio?xsd=xsd0.xsd" namespace="http://wsclientes.tcp.com.br" />
      <xs:import schemaLocation="WebservicesClientes_ExportacaoCheio?xsd=xsd1.xsd" namespace="http://wsclientes.tcp.com.br" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SolicitarOrdemEmbarqueDueTcpRequest">
    <wsdl:part name="parameters" element="core:SolicitarOrdemEmbarqueDueTcpRequest" />
  </wsdl:message>
  <wsdl:message name="SolicitarOrdemEmbarqueDueTcpResponse">
    <wsdl:part name="parameters" element="core:SolicitarOrdemEmbarqueDueTcpResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarMovimentacaoExpoCheioTcpRequest">
    <wsdl:part name="parameters" element="core:ConsultarMovimentacaoExpoCheioTcpRequest" />
  </wsdl:message>
  <wsdl:message name="RequestHeader">
    <wsdl:part name="headerParameters" element="core:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="ConsultarMovimentacaoExpoCheioTcpResponse">
    <wsdl:part name="parameters" element="core:ConsultarMovimentacaoExpoCheioTcpResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarDueTcpRequest">
    <wsdl:part name="parameters" element="core:ConsultarDueTcpRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarDueTcpResponse">
    <wsdl:part name="parameters" element="core:ConsultarDueTcpResponse" />
  </wsdl:message>
  <wsdl:portType name="WebservicesClientes_ExportacaoCheioPortType">
    <wsdl:operation name="SolicitarOrdemEmbarqueDue">
      <wsdl:input wsaw:Action="urn:SolicitarOrdemEmbarqueDue" message="core:SolicitarOrdemEmbarqueDueTcpRequest" />
      <wsdl:output wsaw:Action="urn:SolicitarOrdemEmbarqueDueTcpResponse" message="core:SolicitarOrdemEmbarqueDueTcpResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMovimentacao">
      <wsdl:input wsaw:Action="urn:ConsultarMovimentacao" message="core:ConsultarMovimentacaoExpoCheioTcpRequest" />
      <wsdl:output wsaw:Action="urn:ConsultarMovimentacaoExpoCheioTcpResponse" message="core:ConsultarMovimentacaoExpoCheioTcpResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDue">
      <wsdl:input wsaw:Action="urn:ConsultarDue" message="core:ConsultarDueTcpRequest" />
      <wsdl:output wsaw:Action="urn:ConsultarDueTcpResponse" message="core:ConsultarDueTcpResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebservicesClientes_ExportacaoCheioSoap11Binding" type="core:WebservicesClientes_ExportacaoCheioPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarOrdemEmbarqueDue">
      <soap:operation soapAction="urn:SolicitarOrdemEmbarqueDue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMovimentacao">
      <soap:operation soapAction="urn:ConsultarMovimentacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap12:header message="core:RequestHeader" part="headerParameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDue">
      <soap:operation soapAction="urn:ConsultarDue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebservicesClientes_ExportacaoCheioSoap12Binding" type="core:WebservicesClientes_ExportacaoCheioPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SolicitarOrdemEmbarqueDue">
      <soap12:operation soapAction="urn:SolicitarOrdemEmbarqueDue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMovimentacao">
      <soap12:operation soapAction="urn:ConsultarMovimentacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="core:RequestHeader" part="headerParameters" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDue">
      <soap12:operation soapAction="urn:ConsultarDue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebservicesClientes_ExportacaoCheioHttpBinding" type="core:WebservicesClientes_ExportacaoCheioPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="SolicitarOrdemEmbarqueDue">
      <http:operation location="SolicitarOrdemEmbarqueDue" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMovimentacao">
      <http:operation location="ConsultarMovimentacao" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarDue">
      <http:operation location="ConsultarDue" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebservicesClientes_ExportacaoCheio">
    <wsdl:port name="WebservicesClientes_ExportacaoCheioHttpSoap11Endpoint" binding="core:WebservicesClientes_ExportacaoCheioSoap11Binding">
      <soap:address location="https://wsc-hom.tcp.com.br/services/WebservicesClientes_ExportacaoCheio.WebservicesClientes_ExportacaoCheioHttpSoap11Endpoint" />
    </wsdl:port>
    <wsdl:port name="WebservicesClientes_ExportacaoCheioHttpsSoap11Endpoint" binding="core:WebservicesClientes_ExportacaoCheioSoap11Binding">
      <soap:address location="https://wsc-hom.tcp.com.br/services/WebservicesClientes_ExportacaoCheio.WebservicesClientes_ExportacaoCheioHttpsSoap11Endpoint" />
    </wsdl:port>
    <wsdl:port name="WebservicesClientes_ExportacaoCheioHttpsSoap12Endpoint" binding="core:WebservicesClientes_ExportacaoCheioSoap12Binding">
      <soap12:address location="https://wsc-hom.tcp.com.br/services/WebservicesClientes_ExportacaoCheio.WebservicesClientes_ExportacaoCheioHttpsSoap12Endpoint" />
    </wsdl:port>
    <wsdl:port name="WebservicesClientes_ExportacaoCheioHttpSoap12Endpoint" binding="core:WebservicesClientes_ExportacaoCheioSoap12Binding">
      <soap12:address location="https://wsc-hom.tcp.com.br/services/WebservicesClientes_ExportacaoCheio.WebservicesClientes_ExportacaoCheioHttpSoap12Endpoint" />
    </wsdl:port>
    <wsdl:port name="WebservicesClientes_ExportacaoCheioHttpEndpoint" binding="core:WebservicesClientes_ExportacaoCheioHttpBinding">
      <http:address location="https://wsc-hom.tcp.com.br/services/WebservicesClientes_ExportacaoCheio.WebservicesClientes_ExportacaoCheioHttpEndpoint" />
    </wsdl:port>
    <wsdl:port name="WebservicesClientes_ExportacaoCheioHttpsEndpoint" binding="core:WebservicesClientes_ExportacaoCheioHttpBinding">
      <http:address location="https://wsc-hom.tcp.com.br/services/WebservicesClientes_ExportacaoCheio.WebservicesClientes_ExportacaoCheioHttpsEndpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>